/* Add font color to the paragraph */
.section {
	color: #FF0000;
}

/* Add style as background color and text and border to the link button */
.the-link {
	background-color: yellow;
	text-align: center;  /* Add text align center to the link button */
	padding: 5px 10px;  /* Add padding to the link button */
	border-style: solid; /* Add border line to the link button */
    border-color: #ff0000 #0000ff; /* Add border color to the link button */
}