

/* Add style as background color and text and border to the link button */
.menu-listing {
    background-color: #FFF;
    border-bottom: 1px solid #c0c0c0;
    border-top: 1px solid #c0c0c0;
    color: #000;
	list-style-type:none;
	width: 100%;
    height: 30%;

}

.my_tc_div {
	background-color: #e6e6e6;
}
